/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    body {
        height: 100vh;
    }
    img {
        width: 100%;
    }
    .container {
        width: 100%;
        height: 100%;
        padding-top: 10px;
    }

    .main__wrapper {
        height: 100vh;
    }
    .sidebar {
        width: 30%;
    }

    .sidebar__logo {
        margin: 10px auto;
        padding-left: 5px;
    }

    .sidebar__title {
        text-align: center;
        padding-top: 20px;
        font-size: 25px;
    }

    .sidebar__burder {
        cursor: pointer;
        display: block;
        background: url('../img/premium-icon-menu-6200224.png') no-repeat;
        height: 24px;
        width: 24px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .sidebar__help {
        display: none;
    }

    .header {
        display: none;
    }

    .sidebar__list {
        display: none;
    }

    .sidebar__link {
        font-size: 12px;
    }

    .main__content {
        width: 60%;
        padding-right: 15px;
    }

    .main__grid > div {
        border-radius: 1px;
    }

    .main__grid {
        gap: 1px;
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
}
    .main__grid-card1 {
        grid-column: span 2;
        background: url('../img/card1small.jpg') no-repeat center;
        background-size: contain;
    }
    .card1__title {
        left: -55px;
        font-size: 17px;    
    }

    .main__grid-card2 {
        grid-column: span 2;
        background-size: contain;
    }

    .main__grid-card3 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        
    }
    .main__grid-card3::after {
        display: none;
    }
    .main__grid-card4 {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        
    }

    .main__grid-card4::after {
        display: none;
    }

    .main__grid-card5 {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
        
    }

    .main__grid-card5::after {
        display: none;
    }

    .main__grid-card6 {
        grid-column: 2 / 3;
        grid-row: 5 / 7;
        
    }

    .main__grid-card6::after {
        display: none;
    }
    .main__grid-card7 {
       grid-column: 1 / 3;
       grid-row: 7 / 8;
       
    }

    .card7__title {
        padding-left: 10px;
        font-size: 14px;
        padding-top: 10px;
    }
    
    .card7__desc {
        padding-left: 15px;
        font-size: 10px;
    }
    .main__grid-card8 {
        grid-column: 1 / 3;
        grid-row: 8 / 9;
        
    }

    .card8__title {
        padding-left: 10px;
        font-size: 14px;
        padding-top: 10px;
    }
    
    .card8__desc {
        padding-left: 15px;
        font-size: 10px;
    }

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .container {
        width: 920px;
        padding: 0 15px;
        padding-top: 30px;
    }
    .sidebar {
        width: 150px;
    }
    .main__content {
        width: 700px;
    }

    .header__wrapper {
        justify-content: flex-start;
    }

    .header__input {
        width: 120px;
        margin-right: 0;
    }

    .header__list-item {
        padding-right: 25px;
    }

    .header__account {
        padding-left: 30px;
    }

    .main__grid {
        grid-template-columns: repeat(3, 210px);
        grid-template-rows: repeat(4, 90px);
    }

    .main__grid-card1 {
        grid-column: span 3;
    }

    .main__grid-card2 {
        grid-column: span 3;
    }

    .main__grid-card3 {
        display: none;
    }

    .main__grid-card4 {
        display: none;
    }

    .main__grid-card5 {
        display: none;
    }

    .main__grid-card6 {
        display: none;
    }

    .main__grid-card7 {
        grid-column: span 3;
    }

    .card7__title {
        padding-top: 20px;
    }

    .card8__title {
        padding-top: 20px;
    }

    .main__grid-card8 {
        grid-column: span 3;
    }

    .sidebar__help {
        display: none;
    }

    
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

}